In [10]:
import pandas as pd
import re
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

In [3]:
df = pd.read_csv('../data/test_data.csv')
df.head()

,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,"@stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right."
0,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
1,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
2,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
3,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...
4,4,8,Mon May 11 03:22:00 UTC 2009,kindle2,GeorgeVHulme,@richardebaker no. it is too big. I'm quite ha...

In [4]:
def remove_at(text):
    # A username can only contain alphanumeric characters (letters A-Z, numbers 0-9) with the exception of underscores,
    # as noted above. Check to make sure your desired username doesn't contain any symbols, dashes, or spaces.
    pattern = r'@([A-Za-z0-9_])+'
    # Replace all occurrences of @username with an empty string
    # https://towardsdatascience.com/topic-modeling-and-sentiment-analysis-on-twitter-data-using-spark-a145bfcc433
    text = re.sub(pattern, '', text)
    pattern = r'http\S+'
    text = re.sub(pattern, '', text)
    pattern = r'bit.ly/\S+'
    # replace all links with empty string
    text = re.sub(pattern, '', text)
    pattern = r'#([A-Za-z]+[A-Za-z0-9-_]+)'
    # replace all hashtags with empty string
    text = re.sub(pattern, '', text)
    return text

In [5]:
df.columns = ['Polarity', 'ID', 'Date', 'Topic', 'User', 'Text']
df['Text'] = df['Text'].apply(remove_at)

In [7]:
df.head()

,Polarity,ID,Date,Topic,User,Text
0,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
1,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the ...it fucking rock..."
2,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,You'll love your Kindle2. I've had mine for a...
3,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,Fair enough. But i have the Kindle2 and I th...
4,4,8,Mon May 11 03:22:00 UTC 2009,kindle2,GeorgeVHulme,no. it is too big. I'm quite happy with the K...

In [8]:
X = df['Text']

In [9]:
vec = TfidfVectorizer(stop_words='english')
X_vectorized = vec.fit_transform(X)

In [24]:
model = NMF(n_components=10, random_state=1)
model.fit(X_vectorized)

NMF(n_components=10, random_state=1)

In [29]:
components_features_df = pd.DataFrame(model.components_, columns=vec.get_feature_names())

In [36]:
for topic_comp in range(components_features_df.shape[0]):
    print("Topic {}'s top 10 words:".format(topic_comp))
    print(components_features_df.iloc[topic_comp].nlargest(10))
    print('')

Topic 0's top 10 words:
night       1.336949
museum      1.244221
watching    0.343952
saw         0.268381
loved       0.258900
good        0.228320
movie       0.221372
pretty      0.204842
trek        0.196196
star        0.192996
Name: 0, dtype: float64

Topic 1's top 10 words:
time        0.932259
warner      0.801095
cable       0.334539
internet    0.232703
suck        0.151193
rt          0.106580
damn        0.105330
phone       0.104910
problems    0.100967
hd          0.098793
Name: 1, dtype: float64

Topic 2's top 10 words:
twitter    1.021786
api        0.947841
playing    0.246436
testing    0.234403
use        0.155396
hello      0.144731
curl       0.117297
java       0.117297
loves      0.100893
curses     0.098083
Name: 2, dtype: float64

Topic 3's top 10 words:
love       1.259970
kindle2    0.430685
reading    0.165300
came       0.158132
50d        0.149752
obama      0.149167
danny      0.135445
makes      0.132037
jokes      0.129785
gokey      0.127422
Name: 3, dtype: float64

Topic 4's top 10 words:
dentist     1.007222
hate        0.669771
going       0.588970
trek        0.233096
star        0.231277
later       0.170916
effing      0.161429
exam        0.138223
pet         0.132424
tomorrow    0.121882
Name: 4, dtype: float64

Topic 5's top 10 words:
gladwell       0.558071
malcolm        0.558071
jquery         0.502306
new            0.460891
book           0.422566
rt             0.288891
goodby         0.191598
silverstein    0.191598
great          0.185279
site           0.177813
Name: 5, dtype: float64

Topic 6's top 10 words:
francisco      0.929724
san            0.929724
breakers       0.383803
bay            0.231750
today          0.225503
heading        0.188726
suggestions    0.170795
ca             0.167221
landed         0.163880
bonjour        0.124636
Name: 6, dtype: float64

Topic 7's top 10 words:
lebron    1.271788
best      0.560896
good      0.517903
kobe      0.442276
world     0.240777
nba       0.188490
boss      0.173063
vote      0.149063
beast     0.139583
bt        0.129605
Name: 7, dtype: float64

Topic 8's top 10 words:
safeway    1.111060
dad        0.203395
don        0.203252
coupons    0.169862
mobile     0.169862
like       0.138532
jake       0.121876
tonight    0.109538
waiting    0.108874
line       0.106101
Name: 8, dtype: float64

Topic 9's top 10 words:
just       0.720875
got        0.539092
nike       0.422675
amp        0.267116
google     0.254701
g2         0.217643
free       0.179842
android    0.155824
office     0.144301
50d        0.137982
Name: 9, dtype: float64